@font-face {
  font-family: TribalGaramond;
  src: url(img/TribalGaramond.ttf);
}

@import '../node_modules/bga-cards/bga-cards';

.board {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.icon {
  width: 115px; /* 370 / 420 */
  height: 115px; /* 112 / 127 */
  background-image: url(img/icons.png);
  background-size: 1100% 100%;
  /* 14.3% for each horizontal?? */
}

.threat-token {
  background-position: 100% 0;
  width: 55px;
  height: 55px;
}

.transition-position {
  transition: left .5s ease-in-out, top .5s ease-in-out;
}

.location .location-clicker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

#game-board {
  width: 740px;
  height: 603px;
  background-image: url(img/gameboard.jpg);
  margin-bottom: 10px;
  margin-right: 10px;
}

#game-board-holder {
  display: flex;
  flex-flow: row wrap;
  transform-origin: top left;
}

#locations-holder-holder {
  flex-basis: 0;
  flex-grow: 1;
}

#locations-holder {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  flex-grow: 1;
  min-width: 350px;
  align-content: flex-start;
}

#threat-track {
  width: 120px;
  height: 490px;
  background-image: url(img/track.jpg);
  margin-right: 10px;
}

#threat-token {
  position: absolute;
  left: 5px;
}

#threat-track .slot-0 {top: 4px; }
#threat-track .slot-1 {top: 65px; }
#threat-track .slot-2 {top: 126px; }
#threat-track .slot-3 {top: 187px; }
#threat-track .slot-4 {top: 248px; }
#threat-track .slot-5 {top: 310px; }

/* DECKS */

.deck-empty {
  visibility: hidden !important;
}

html body #game-holder .slot-fake {
  --translate: translate(0, 0) !important;
  box-shadow: none !important;
  background: none !important;
}

.deck-full {
  box-shadow: 12px 12px #222, 11px 11px #222, 10px 10px #222, 9px 9px #222, 8px 8px #222, 7px 7px #222, 6px 6px #222, 5px 5px #222, 4px 4px #222, 3px 3px #222, 2px 2px #222, 1px 1px #222 !important;
  --translate: translate(-12px, -12px);
}

.deck-medium {
  box-shadow: 6px 6px #222, 5px 5px #222, 4px 4px #222, 3px 3px #222, 2px 2px #222, 1px 1px #222 !important;
  --translate: translate(-6px, -6px);
}

.deck-low {
  box-shadow: 3px 3px #222, 2px 2px #222, 1px 1px #222 !important;
  --translate: translate(-3px, -3px);
}

/* LOCATIONS */

.location {
  display: block;
  width: 350px; /* 370 / 420 */
  height: 106px; /* 112 / 127 */
  background-image: url(img/locations.png);
  background-size: 900% 302%;
  margin-bottom: 10px;
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  cursor: pointer;
  /* 12.5% for each horizontal, 50% for each vertical */
}

.location {
  box-shadow: none !important;
}

.location.unavailable {
  opacity: 0.2;
  cursor: not-allowed;
}

.location-back {
  background-position: 25% 100%;
  cursor: auto;
  position: relative;
}

.location-1 { background-position: 0 0; }
.location-2 { background-position: 12.5% 0; }
.location-3 { background-position: 25% 0; }
.location-4 { background-position: 37.5% 0; }
.location-5 { background-position: 50% 0; }
.location-6 { background-position: 62.5% 0; }
.location-7 { background-position: 75% 0; }
.location-8 { background-position: 87.5% 0; }
.location-9 { background-position: 100% 0; }
.location-10 { background-position: 0 50%; }
.location-11 { background-position: 12.5% 50%; }
.location-12 { background-position: 25% 50%; }
.location-13 { background-position: 37.5% 50%; }
.location-14 { background-position: 50% 50%; }
.location-15 { background-position: 62.5% 50%; }
.location-16 { background-position: 75% 50%; }
.location-17 { background-position: 87.5% 50%; }
.location-18 { background-position: 100% 50%; }
.location-19 { background-position: 0 100%; }
.location-20 { background-position: 12.5% 100%; }

.location .location-name {
  font-family: TribalGaramond;
  position: absolute;
  bottom: 24px;
  left: 50px;
  font-size: 14pt;
  pointer-events: none;
}

.location .location-desc {
  position: absolute;
  height: 28px;
  bottom: 0;
  left: 60px;
  display: block;
  right: 0;
  font-size: 9pt;
  pointer-events: none;
}

.location .lord {
  z-index: -1;
  position: relative;
  pointer-events: auto;
}

.location .trapped-lords-holder {
  position: relative;
  top: -45px;
  text-align: center;
}

.location .trapped-lords-holder .lord {
  margin-right: 10px;
}

.location .trapped-lords-holder .lord:last-child {
  margin-right: 0;
}

/* LORDS */

#lords-track {
  position: absolute;
  bottom: 12px;
  width: 100%;
  height: 136px;
}

#lords-track .slot-0 {left: 13px; }
#lords-track .slot-1 {left: 118px; }
#lords-track .slot-2 {left: 222px; }
#lords-track .slot-3 {left: 326px; }
#lords-track .slot-4 {left: 430px; }
#lords-track .slot-5 {left: 532px; }
#lords-track .slot-6 {left: 637px; }

#lords-track .lord.selected {
  --scale: scale(1.5);
  z-index: 90;
}

#game-board-holder  #bonus-pearls-holder {
  position: absolute;
  font-size: 0.4em;
  left: 430px;
  width: 88px;
  text-align: right;
  top: calc(100% + 2px);
}
#game-board-holder  #bonus-pearls-holder i {
  width: 10px;
  height: 10px;
}

.lord.selected {
  border: 3px solid red;
}

.free-lords .lord.unused {
  border: 3px solid #2d2;
}

#game-board .lord {
  display: block;
  position: absolute;
}

.player-panel {
  .player-name {
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white;

    &[data-color="ffffff"], &[data-color="FFFFFF"] {
      text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
    }
  }

  .lord {
    display: inline-block;
  }
  
  .locations {
    position: relative;
    z-index: 1;
    padding-top: 5px;
  }
  
  .locations:empty {
    display: none;
  }
  
  .location {
    vertical-align: bottom;
    display: inline-block;
    pointer-events: none;
  
    margin-top: 50px;
  }
}

#game-extra .location {
  vertical-align: bottom;
  margin-right: 5px;
  display: inline-block;
}

.lord {
  width: 88px; /* 370 / 420 */
  height: 136px;
  background-image: url(img/lords.jpg);
  background-size: 1100% 400%;
  color: white;
  bottom: 0;
  border-radius: 3px;
  transition: transform .2s ease-in-out, left .5s ease-in-out, top .5s ease-in-out;
  cursor: pointer;
  box-shadow: 2px 2px #222;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  /* 10% for each horizontal, 33.33% for each vertical */
  transform: var(--translate,translate(0)) var(--scale,scale(1));
}

.lord.disabled {
  filter: grayscale(100%);
}

.lord:hover:not(.lord-back) {
  --scale: scale(2) !important;
  z-index: 100;
}

.lord-back { background-position: 0 0; }
/* Soldiers (red) */
.lord-1 { background-position: 10% 0; } .lord-2 { background-position: 20% 0; } .lord-3 { background-position: 30% 0; } .lord-4 { background-position: 40% 0; } .lord-5 { background-position: 50% 0; } .lord-6 { background-position: 60% 0; } .lord-7 { background-position: 70% 0; }
/* Merchants (green) */
.lord-8 { background-position: 80% 0; } .lord-9 { background-position: 90% 0; } .lord-10 { background-position: 100% 0; } .lord-11 { background-position: 0% 33.33%; } .lord-12 { background-position: 10% 33.33%; } .lord-13 { background-position: 20% 33.33%; }
/* Mages (purple) */
.lord-14 { background-position: 30% 33.33%; } .lord-15 { background-position: 40% 33.33%; } .lord-16 { background-position: 50% 33.33%; } .lord-17 { background-position: 60% 33.33%; } .lord-18 { background-position: 70% 33.33%; } .lord-19 { background-position: 80% 33.33%; } .lord-20 { background-position: 90% 33.33%; }
/* Politicians (blue) */
.lord-21 { background-position: 100% 33.33%; } .lord-22 { background-position: 0 66.66%; } .lord-23 { background-position: 10% 66.66%; } .lord-24 { background-position: 20% 66.66%; } .lord-25 { background-position: 30% 66.66%; } .lord-26 { background-position: 40% 66.66%; }
/* Farmers (yellow) */
.lord-27 { background-position: 50% 66.66%; } .lord-28 { background-position: 60% 66.66%; } .lord-29 { background-position: 70% 66.66%; } .lord-30 { background-position: 80% 66.66%; } .lord-31 { background-position: 90% 66.66%; } .lord-32 { background-position: 100% 66.66%; }
/* Ambassadors (grey) */
.lord-33 { background-position: 0 100%; } .lord-34 { background-position: 10% 100%; } .lord-35 { background-position: 20% 100%; }

.lord .lord-name {
  font-family: TribalGaramond;
  position: absolute;
  bottom: calc(100% + 2px);
  left: 0;
  font-size: 7pt;
  pointer-events: none;
}

html .lord .lord-desc {
  position: absolute;
  min-height: 23px;
  bottom: 0;
  left: 23px;
  display: block;
  right: 0;
  font-size: 5pt;
  text-align: left;
  pointer-events: none;
}

/* ALLIES */

#explore-track {
  position: absolute;
  top: 8px;
  height: 86px;
  width: 100%;
}

#game-board #explore-track .slot-0 {left: 9px; }
#game-board #explore-track .slot-1 {left: 141px; }
#game-board #explore-track .slot-2 {left: 273px; }
#game-board #explore-track .slot-3 {left: 406px; }
#game-board #explore-track .slot-4 {left: 539px; }
#game-board #explore-track .slot-5 {left: 671px; }

#council-track {
  position: absolute;
}

#game-board #council-track .slot-0 {--rotation: rotate(-40deg); top: 250px; left: 57px;}
#game-board #council-track .slot-1 {--rotation: rotate(-19deg); top: 193px; left: 177px;}
#game-board #council-track .slot-2 {left: 348px; top: 177px;}
#game-board #council-track .slot-3 {--rotation: rotate(20deg); top: 193px; left: 514px;}
#game-board #council-track .slot-4 {--rotation: rotate(39deg); top: 249px; left: 627px;}

.ally {
  width: 58px;
  height: 86px;
  background-image: url(img/allies.jpg);
  background-size: 800% 400%;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  /*box-shadow: 2px 2px rgba(0,0,0,0.7);*/
  box-shadow: 2px 2px #222;
  &:not(.card) {
    transition: transform .2s ease-in-out;
    /* 100/7% for each horizontal, 33.33% for each vertical */
    transform: var(--rotation,rotate(0)) var(--translate,translate(0)) var(--scale,scale(1));
  }
}

#explore-track .ally {
  transition: transform .2s ease-in-out, left .5s ease-in-out, top .5s ease-in-out;
}

#game-board .ally {
  display: block;
  position: absolute;
  top: 0;
}

.player-panel .ally {
  display: inline-block;
  position: relative;
  margin: 3px 10px 3px 3px;
}

.player-panel .ally.selected {
  margin: 0 7px 0 0;
  border: 3px solid red;
}

#player-hand {
  padding: 10px;
  /*background-color: rgba(1, 1, 1, 0.7);*/
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 10px;
}

#player-hand:empty {
  visibility: hidden;
}

#player-hand h4 {
  margin-top: 0;
  color: white;
}

.player-panel .affiliated .affiliated-faction {
  display: inline-block;
  padding-right: 45px;
}

.player-panel .affiliated .affiliated-faction:empty {
  display: none;
}

.player-panel .affiliated .ally {
  margin-right: -40px;
}

.player-panel .affiliated {
  margin-bottom: 10px;
}

.player-panel .affiliated:empty {
  display: none;
}

.player-panel .free-lords .lord {
  margin-right: 10px;
  position: relative;
}

#game-board .ally:hover:not(.ally-back), .player-panel .ally:hover:not(.ally-back) {
  --scale: scale(2);
  z-index: 100;
}

.ally-back { background-position: 0 0; }
.ally-4-1 { background-position: 14.286% 0; } .ally-4-2 { background-position: 28.571% 0; } .ally-4-3 { background-position: 42.857% 0; } .ally-4-4 { background-position: 57.143% 0; } .ally-4-5 { background-position: 71.429% 0; }
.ally-3-1 { background-position: 85.714% 0; } .ally-3-2 { background-position: 100% 0; } .ally-3-3 { background-position: 0 33.33%; } .ally-3-4 { background-position: 14.286% 33.33%; } .ally-3-5 { background-position: 28.571% 33.33%; }
.ally-monster-0 { background-position: 42.857% 33.33%; }
.ally-0-1 { background-position: 57.143% 33.33%; } .ally-0-2 { background-position: 71.429% 33.33%; } .ally-0-3 { background-position: 85.714% 33.33%; } .ally-0-4 { background-position: 100% 33.33%; } .ally-0-5 { background-position: 0 66.66%; }
.ally-1-1 { background-position: 14.286% 66.66%; } .ally-1-2 { background-position: 28.571% 66.66%; } .ally-1-3 { background-position: 42.857% 66.66%; } .ally-1-4 { background-position: 57.143% 66.66%; } .ally-1-5 { background-position: 71.429% 66.66%; }
.ally-2-1 { background-position: 85.714% 66.66%; } .ally-2-2 { background-position: 100% 66.66%; } .ally-2-3 { background-position: 0 100%; } .ally-2-4 { background-position: 14.286% 100%; } .ally-2-5 { background-position: 28.571% 100%; }

.ally .ally-name {
  font-family: TribalGaramond;
  position: absolute;
  bottom: 24px;
  left: 25px;
  font-size: 7pt;
}

.ally .ally-desc {
  position: absolute;
  height: 23px;
  bottom: 0;
  left: 23px;
  display: block;
  right: 0;
  font-size: 3.5pt;
}

.monster-hand {
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
}

.monster-hand:empty {
  margin: 0;
}

#gameplay-options {
  margin-top: 10px;
  margin-left: 20px;
  background-color: #191970;
  color: white;
  display: none;
  padding: 10px;
  z-index: 1;
  position: relative;
}

#gameplay-options td {
  padding: 0 5px;
  text-align: center;
}

#gameplay-options td:first-child {
  text-align: right;
}

/* ICONS */

i.icon {
  background-image: url(img/icons.png);
  display: inline-block;
}

i.icon-laurel {
  background-size: 2226% 230%;
  background-position: 18.9% 0%;
  width: 12px;
  height: 10px;
  vertical-align: baseline;
  position: relative;
  top: 2px;
}

.cp_board {
  text-align: center;
  margin-top: 5px;
}

.cp_board span.spacer {
  margin-right: 4px;
}

.cp_board .key-addendum {
  font-size: smaller;
}

.cp_board, .cp_board * {
  vertical-align: middle;
}

.cp_board i.icon {
  margin-right: 5px;
}

.cp_board i.icon.clickable {
  border: 1px solid red;
  cursor: pointer;
}

i.icon-pearl {
  background-size: 2226% 202%;
  background-position: 190.2% 0%;
  width: 16px;
  height: 16px;
}

i.icon-nebulis {
  background-size: 2226% 202%;
  background-position: 190.2% 100%;
  width: 16px;
  height: 16px;
}

i.icon-key {
  /*
  width of key   ~60px
  width of image 1276px
  1276 / 60 ~ 2126%
  */
  background-size: 2226% 202%;
  background-position: 9.6% 0;
  width: 16px;
  height: 16px;
}

i.icon-lord {
  background-position: 40% 0%;
  width: 16px;
  height: 16px;
}

i.icon-location {
  background-position: 30% 0%;
  width: 16px;
  height: 16px;
}

i.icon-affiliated-ally {
  background-position: 0% 0%;
  width: 16px;
  height: 16px;
}

i.icon-monster {
  background-position: 80% 0%;
  width: 16px;
  height: 16px;
}

i.icon-monster-faceup {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: white;
  font-style: normal;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  cursor: default;
}

i.icon-monster-2 {
  background-position: 50% 0%;
}

i.icon-monster-3 {
  background-position: 60% 0%;
}

i.icon-monster-4 {
  background-position: 70% 0%;
}

i.icon-ally {
  background-image: url(img/allies.jpg);
  background-size: 800% 400%;
  background-position: 0 0;
  width: 12px;
  height: 16px;
  border-radius: 2px;
}

.action-button .icon {
  vertical-align: middle;
}

/* Highlight current moves */
.card-current-move {
  border: 2px solid white;
  box-sizing: border-box;
  /* 
  animation-name: emanateBorder;  
  border: 1px solid white;
  animation-name: emanateShadow;
  */
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes emanateShadow {
  0% {box-shadow: 0 0 15px #fff;}
  33%, 100% {box-shadow: 0 0 0 #fff;}
}

@keyframes emanateBorder {
  0% {border: 2px solid white;}
  100% {border: 2px solid #003D4F;}
}

/* Custom tooltip (because dijit doesn't work with zoom) */
.abs-tooltip {
  box-shadow: 0 5px 10px #adadad;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #7eabcd;
  padding: 0.45em;
  position: absolute;
  z-index: 100;
  max-width: 300px;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  pointer-events: none;
  color: black;
}

.abs-tooltip-lord del {
  text-decoration: line-through;
  opacity: 0.5;
}

.playmat_on #game-holder {
  color: white;
  background-color: #081020;
}
#player-panel-holder {
  padding: 0 5px;
}
.playmat_on #player-panel-holder {
  padding: 20px;
}
#player-panel-holder .player-panel {
  border-radius: 3px;
}
.playmat_on #player-panel-holder .player-panel {
  background-color: rgba(255,255,255,0.05);
  background-image: none;
}
.playmat_on body {
  background: none;
  background-color: #081020;
}
#game-board-holder hr {
  display: none;
}
#game-board-holder.playmat-narrow hr {
  width: 100%;
  height: 0;
  margin: 0;
  border: 0;
  display: block;
}

/* Redesign narrow */
#game-board-holder.playmat-narrow #game-board {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
}
#game-board-holder.playmat-narrow {
  text-align: center;
}
#game-board-holder.playmat-narrow #locations-holder {
  justify-content: center;
}

/* Redesign */
#game-board-holder:not(.playmat) {
  zoom: 1 !important;
}
#game-board-holder.playmat {
  position: relative;
  width: 1340px;
  height: 639px;
  margin-bottom: 10px;
  margin-right: 0;
}
#game-board-holder.playmat #game-board {
  background-image: url(img/playmat.jpg);
  width: 1340px;
  height: 639px;
  position: absolute;
  top: 0;
  left: 0;
}
#game-board-holder.playmat #bonus-pearls-holder {
  display: none;
}

#game-board-holder.playmat #threat-track {
  background-image: url(img/playmat_threat_track.png);
  width: 171px;
  height: 583px;
  position: absolute;
  top: 26px;
  left: 30px;
}
#game-board-holder.playmat .threat-token {
  width: 52px;
  height: 52px;
  transition: left .5s ease-in-out, top .5s ease-in-out, transform .5s ease-in-out;
}
#game-board-holder.playmat #threat-track .slot-0 { transform: rotate(10deg); top: 4px; left: 76px; }
#game-board-holder.playmat #threat-track .slot-1 { transform: rotate(9deg); top: 111px; left: 55px; }
#game-board-holder.playmat #threat-track .slot-2 { transform: rotate(8deg); top: 218px; left: 35px; }
#game-board-holder.playmat #threat-track .slot-3 { transform: rotate(5deg); top: 320px; left: 21px; }
#game-board-holder.playmat #threat-track .slot-4 { transform: rotate(3deg); top: 421px; left: 10px; }
#game-board-holder.playmat #threat-track .slot-5 { transform: rotate(0deg); top: 523px; left: 4px; }

#game-board-holder.playmat #locations-holder-holder {
  position: absolute;
  top: 6px;
  right: 9px;
  height: calc(100% - 12px);
  transform: scale(0.87);
  transform-origin: top right;
}
#game-board-holder.playmat #locations-holder-holder #locations-holder {
  flex-direction: column;
}
#game-board-holder.playmat #lords-track {
  bottom: 56px;
  left: 278px;
  width: 762px;
}
#game-board-holder.playmat #lords-track .slot-0 {left: 13px; }
#game-board-holder.playmat #lords-track .slot-1 {left: 129px; }
#game-board-holder.playmat #lords-track .slot-2 {left: 234px; }
#game-board-holder.playmat #lords-track .slot-3 {left: 339px; }
#game-board-holder.playmat #lords-track .slot-4 {left: 444px; }
#game-board-holder.playmat #lords-track .slot-5 {left: 550px; }
#game-board-holder.playmat #lords-track .slot-6 {left: 655px; }

#game-board-holder.playmat #explore-track {
  left: 317px;
  top: 42px;
  width: 650px;
}
#game-board-holder.playmat #explore-track .slot-0 {left: 0; top: 12px; }
#game-board-holder.playmat #explore-track .slot-1 {left: 121px; }
#game-board-holder.playmat #explore-track .slot-2 {left: 239px; }
#game-board-holder.playmat #explore-track .slot-3 {left: 352px; }
#game-board-holder.playmat #explore-track .slot-4 {left: 464px; }
#game-board-holder.playmat #explore-track .slot-5 {left: 575px; }

#game-board-holder.playmat #council-track {
  left: 30px;
  top: 28px;
}
#game-board-holder.playmat #council-track .slot-0 {--rotation: rotate(-25deg); top: 237px; left: 204px;}
#game-board-holder.playmat #council-track .slot-1 {--rotation: rotate(-10deg); top: 189px; left: 356px;}
#game-board-holder.playmat #council-track .slot-2 { left: 533px; top: 176px; }
#game-board-holder.playmat #council-track .slot-3 {--rotation: rotate(13deg); top: 193px; left: 713px;}
#game-board-holder.playmat #council-track .slot-4 {--rotation: rotate(28deg); top: 239px; left: 848px;}

.ally-back .deck-size, .lord-back .deck-size, .location-back .deck-size {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  pointer-events: none;
}

#locations-holder-overflow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#game-scoring {
  text-align: center;
  padding: 10px 0;
  display: none;
}
#game-scoring table {
  margin: auto;
}
#game-scoring table td {
  padding: 10px;
}
#game-scoring table td.first-column {
  border-right: 2px solid white;
}
#game-scoring table tr.line-below {
  border-bottom: 2px solid white;
}
#game-scoring i.icon {
  width: 48px;
  height: 48px;
  vertical-align: middle;
  margin-left: 10px;
}
#game-scoring .arrow {
  margin-right: 10px;
  visibility: hidden;
}
#last-round {
  margin: 5px -5px -5px -5px;
  text-align: center;
  background-color: #990000;
}

html a.bgabutton.affiliate-button {
  background: none;
  color: black;
  border: 1px solid black;
  box-shadow: none;
  text-shadow: none;
}

html a.bgabutton.affiliate-button:hover {
  background-color: #ddd;
  color: black !important;
}

@keyframes wave {
  from { transform : translateY( 1px ); }
  to   { transform : translateY( -3px ); }
}

.wavetext span {
  display: inline-block;
 
  animation-duration: 0.3s;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.wavetext :nth-child( 20n + 0 ) {
    animation-delay : 
      calc(-20s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 1 ) {
  animation-delay : 
    calc(-19s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 2 ) {
  animation-delay : 
    calc(-18s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 3 ) {
  animation-delay : 
    calc(-17s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 4 ) {
  animation-delay : 
    calc(-16s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 5 ) {
  animation-delay : 
    calc(-15s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 6 ) {
  animation-delay : 
    calc(-14s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 7 ) {
  animation-delay : 
    calc(-13s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 8 ) {
  animation-delay : 
    calc(-12s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 9 ) {
  animation-delay : 
    calc(-11s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 10 ) {
  animation-delay : 
    calc(-10s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 11 ) {
  animation-delay : 
    calc(-9s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 12 ) {
  animation-delay : 
    calc(-8s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 13 ) {
  animation-delay : 
    calc(-7s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 14 ) {
  animation-delay : 
    calc(-6s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 15 ) {
  animation-delay : 
    calc(-5s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 16 ) {
  animation-delay : 
    calc(-4s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 17 ) {
  animation-delay : 
    calc(-3s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 18 ) {
  animation-delay : 
    calc(-2s * 2 * 0.3 / 40 );
}
.wavetext :nth-child( 20n + 19 ) {
  animation-delay : 
    calc(-1s * 2 * 0.3 / 40 );
}