#leviathan-board {
  position: relative;
  width: 369px; // 97 + 2 * 136
  height: 440px;
  
  #leviathan-track {
    position: absolute;
    top: 0;
    left: 136px;
    width: 97px;
    height: 440px;
    background: url('img/leviathan-track.jpg');
  }

  .slot {
    position: absolute;
    width: 136px;
    height: 88px;

    @for $i from 1 through 9 {
      &[data-slot-id="#{$i}"] {
        @if $i % 2 == 1 {
          left: 0px;
          top: #{($i - 1) * 88px / 2};
        }
        @if $i % 2 == 0 {
          left: 233px;
          top: #{($i - 1) * 88px / 2};
        }
      }
    }
  }
}

.leviathan-card {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  text-align: center;
  //width: 550px;
  //height: 358px;
  width: 136px;
  height: 88px;

  .card-side {
    border-radius: 3px;
    background-image: url('img/leviathans.jpg');
    background-size: auto 400%;
  }

  &:hover {
    z-index: 100;
    .front {
      transform: scale(2) !important;
    }
  }

  .leviathan-icon.icon-life {
    position: absolute;
    background-position-x: 70.71%;
    width: 16px;
    height: 16px;
    left: 4px;
  } 

  &.bga-cards_selectable-card:not(.disabled) {
      cursor: pointer;
      &:not(.bga-cards_selected-card) {
          box-shadow: 0 0 5px 5px orange;
      }

      .card-side {
          box-shadow: unset;
      }
  }    

  &.bga-cards_selected-card:not(.disabled) {
      box-shadow: unset;
      outline: 8px orange;

      .card-side {
          box-shadow: unset;
      }
  }
}