#leviathan-board {
  position: relative;
  width: 369px; // 97 + 2 * 136
  height: 440px;

  .bga-dice_die .bga-dice_die-face {
    background: url('img/leviathan-die.png');
    background-size: 600% 100%;
    border-radius: 5px;
  }

  .bga-dice_die .bga-dice_die-face[data-face="1"] {
    background-position-x: 0%;
  }
  .bga-dice_die .bga-dice_die-face[data-face="2"] {
    background-position-x: 20%;
  }
  .bga-dice_die .bga-dice_die-face[data-face="3"] {
    background-position-x: 40%;
  }
  .bga-dice_die .bga-dice_die-face[data-face="4"] {
    background-position-x: 60%;
  }
  .bga-dice_die .bga-dice_die-face[data-face="5"] {
    background-position-x: 80%;
  }
  .bga-dice_die .bga-dice_die-face[data-face="6"] {
    background-position-x: 100%;
  }
  
  #leviathan-track {
    position: absolute;
    top: 0;
    left: 136px;
    width: 97px;
    height: 440px;
    background: url('img/leviathan-track.jpg');

    #leviathan-dice-stock {
      opacity: 1;
      transition: opacity 0.5s;
      position: absolute;
      left: 0;
      right: 0;

      &[data-place="0"] {
        opacity: 0;
      }
      @for $i from 0 through 9 {
        &[data-place="#{$i}"] {
          top: #{($i - 1) * 85px / 2 + 38px};
        }
      }
    }
  }

  .slot {
    position: absolute;
    width: 136px;
    height: 88px;

    @for $i from 1 through 9 {
      &[data-slot-id="#{$i}"] {
        @if $i % 2 == 1 {
          left: 0px;
          top: #{($i - 1) * 88px / 2};
        }
        @if $i % 2 == 0 {
          left: 233px;
          top: #{($i - 1) * 88px / 2};
        }
      }
    }

    &[data-slot-id="99"] {
      top: 440px;
  
      .leviathan-card {
        box-shadow: unset;
        outline: 4px solid orange;
  
        .card-side {
            box-shadow: unset;
        }
      }
    }

    &.selectable {
      cursor: pointer;
      outline: 4px dashed orange;
    }
  }
}

.leviathan-card {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  text-align: center;
  //width: 550px;
  //height: 358px;
  width: 136px;
  height: 88px;

  .card-side {
    border-radius: 3px;
    background-image: url('img/leviathans.jpg');
    background-size: auto 400%;
  }

  &:hover {
    z-index: 100;
    .front {
      transform: scale(2) !important;
    }
  }

  .leviathan-icon.icon-life {
    position: absolute;
    background-position-x: 70.71%;
    width: 16px;
    height: 16px;
    left: 4px;
  } 

  &.bga-cards_selectable-card:not(.disabled) {
      cursor: pointer;
      &:not(.bga-cards_selected-card) {
          box-shadow: 0 0 5px 5px orange;
      }

      .card-side {
          box-shadow: unset;
      }
  }    

  &.bga-cards_selected-card:not(.disabled) {
      box-shadow: unset;
      outline: 4px solid orange;

      .card-side {
          box-shadow: unset;
      }
  }

  &.fighted-leviathan {
    box-shadow: unset;
    outline: 4px solid darkred !important;
    z-index: 1;

    .card-side {
        box-shadow: unset;
    }

  }
}

.abs-tooltip-leviathan {
  table {
    tr.current {
      background: #FF000066;
    }

    th {
      font-weight: bold;
    }

    th, td {
      border: 1px solid black;
      padding: 3px;
      text-align: center;
    }
  }
}

#current-attack-power {
  background: darkred;
  position: absolute;
  top: -3px;
  right: -2px;
  font-size: 10px;
  padding: 3px;
  text-align: left;

  #current-attack-power-dice {
    display: inline-block;
    vertical-align: middle;

    .bga-dice_die {
      --size: 16px !important;

      &.grayed {
        opacity: 0.3;
      }
    }
  }
}